# Build
/dist
/lib
/lib-types
/server
/tmp

# Dependencies
node_modules

# Environment
.env
*.local

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
.DS_Store
*.sw?
