 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Logan is a Web Developer honing his skills at <a href="http://theironyard.com/" style="color: #000;"><strong>The Iron Yard</strong></a> at their academy location in <a href="http://theironyard.com/locations/orlando/" style="color: #000;">Orlando, FL</a>. He is working with a great group to continue to improve as an individual and team in the inaugural Orlando FEE class.</p>
                </div>
                <div class="col-lg-4">
                    <p>Come along on this journey with Logan as he evolves through the stages of his Front End Engineering program and into a new career. Please feel free to contact Logan at anytime about posts and projects.</p>
                </div>
            </div>
        </div>
    </section>
    </section>
    </section>

